/*=========================================================
          [ button Style ]
=========================================================*/

.btn--base {
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background: $bg--base;
    border: 2px solid $text--base;
    color: #fff;
    position: relative;
    z-index: 1;
    &::before {
        @include beforeafter;
        background: $bg--white;
        z-index: -1;
        transform: scale(0);
        transition: all .4s;
    }
}

.btn--base:hover {
    background: $bg--white;
    border: 2px solid $text--white;
    color: $btn--base;
    &::before {
        transform: scale(1);
    }
}

.btn--white {
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background: $bg--white;
    border: 2px solid $text--white;
    color: $text--base;
}

.btn--white:hover {
    color: $text--white;
    border: 2px solid $text--base;
    background: $bg--base;
}

.btn--clay {
    background: #0f0d1d;
}

.btn--single {
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    color: inherit;
    transition: all .3s;
}

.btn--custom {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: none;
    text-transform: capitalize;
    padding: 15px 20px;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    transition: all .3s;
    position: relative;
    border-radius: 30px 0 30px 0;
    z-index: 1;
}

.btn--sm {
    font-size: 14px;
    padding: 12px 20px;
}

.btn--md {
    font-size: 14px;
    padding: 15px 20px;
}

.btn--lg {
    font-size: 16px;
    padding: 20px 40px;
    @include responsive(xxs) {
        font-size: 14px;
        padding: 10px 20px;
    }
}

.btn--border {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn--border:hover::before {
    width: 100%;
    height: 100%;
}

.btn--border:hover::after {
    width: 100%;
    height: 100%;
}

.btn--border::before,
.btn--border::after {
    position: absolute;
    content: '';
    height: 30px;
    width: 50px;
    z-index: -1;
    transition: all .4s;
}

.btn--border::before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    left: 0px;
    top: 0px;
}

.btn--border::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 0px;
    bottom: 0px;
}

.btn--hover {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn--hover::before,
.btn--hover::after {
    @include beforeafter;
    top: -100%;
    left: 100%;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn--hover::before {
    background: #0f0d1d;
}

.btn--hover::after {
    background: #8264e6;
}

.btn--hover:hover::before,
.btn--hover:hover::after {
    top: 0;
    left: 0;
}

.btn--hover:hover::after {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.btn--success:hover {
    color: #fff;
    background: #1886e0;
}

.btn--success {
    color: #fff;
    background: #28a745;
}

.btn--white {
    color: #000;
    background-color: #fff;
}

.btn--black {
    color: #fff;
    background-color: #000;
}

.btn--primary {
    color: #fff;
    background-color: #007bff;
}

.btn--secondary {
    color: #fff;
    background-color: #6c757d;
}

.btn--success {
    color: #fff;
    background-color: #28a745;
}

.btn--danger {
    color: #fff;
    background-color: #dc3545;
}

.btn--warning {
    color: #212529;
    background-color: #ffc107;
}

.btn--info {
    color: #fff;
    background-color: #17a2b8;
}

.btn--light {
    color: #212529;
    background-color: #e2e6ea;
}

.btn--dark {
    color: #fff;
    background-color: #23272b;
}


/* btn-round&capsule */

.btn--rounded {
    border-radius: 7px;
}

.btn--capsole {
    border-radius: 30px;
}


/* btn-outline */

.btn-outline--base:hover {
    color: $text--white;
    border-color: $bg--base;
    background: $bg--base;
}

.btn-outline--base {
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    border: 2px solid $bg--base;
}

.btn-outline--white {
    border: 2px solid #fff;
    color: $text--white;
    &:hover {
        background: $bg--white;
        color: $text--base;
    }
}

.btn-outline--info:hover {
    background: #003ba5;
    color: #fff;
    border-color: #003ba5;
}

.btn-outline--primary {
    border: 1px solid #007bff;
}

.btn-outline--secondary {
    border: 1px solid #6c757d;
}

.btn-outline--success {
    border: 1px solid #28a745;
}

.btn-outline--danger {
    border: 1px solid #dc3545;
}

.btn-outline--warning:hover {
    border-color: #007bff;
    color: #fff;
    background: #007bff;
}

.btn-outline--warning {
    border: 1px solid #ffc107;
}

.btn-outline--info {
    border: 1px solid #17a2b8;
}

.btn-outline--light {
    border: 1px solid #dae0e5;
}

.btn-outline--dark {
    border: 1px solid #1d2124;
}